body{
  position: relative;
  background: url(/assets/homepage/black_denim.png);
  background-color: #DBBB84 !important;
  width: 80%;
  margin: auto;
  min-height: 100%;
  color: #4C412E;
  -webkit-box-shadow: -1px 10px 5px 11px rgba(0,0,0,0.35);
  -moz-box-shadow: -1px 10px 5px 11px rgba(0,0,0,0.35);
  box-shadow: -1px 10px 5px 11px rgba(0,0,0,0.35);
}
