body{
  position: relative;
  background: url(/assets/homepage/use_your_illusion.png);
  width: 80%;
  margin: auto;
  min-height: 100%;
  color: #4C412E;
  -webkit-box-shadow: -1px 10px 5px 11px rgba(0,0,0,0.35);
  -moz-box-shadow: -1px 10px 5px 11px rgba(0,0,0,0.35);
  box-shadow: -1px 10px 5px 11px rgba(0,0,0,0.35);
}

.jumbotron{
  margin-top: 2em;
  padding-top: 2em;
  text-align: center;
}

.center_text{
  text-align: center;
}

.game_description{
  border: 1px solid black;
  padding:1em;
  background-color: #BABABA;
}

canvas{
  padding-right: 0;
  margin:5em auto;
  display: block;
  background-color:#BABABA;
}

#frogger-2-game-canvas{
background: rgba(24,118,201,1);
background: -moz-linear-gradient(top, rgba(24,118,201,1) 0%, rgba(24,118,201,1) 49%, rgba(30,33,36,1) 51%, rgba(16,18,19,1) 61%, rgba(79,79,79,1) 62%, rgba(16,18,19,1) 63%, rgba(16,18,19,1) 68%, rgba(79,79,79,1) 69%, rgba(16,18,19,1) 70%, rgba(16,18,19,1) 76%, rgba(79,79,79,1) 77%, rgba(16,18,19,1) 78%, rgba(16,18,19,1) 84%, rgba(79,79,79,1) 85%, rgba(16,18,19,1) 86%, rgba(16,18,19,1) 92%, rgba(79,79,79,1) 93%, rgba(16,18,19,1) 94%, rgba(16,18,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24,118,201,1)), color-stop(49%, rgba(24,118,201,1)), color-stop(51%, rgba(30,33,36,1)), color-stop(61%, rgba(16,18,19,1)), color-stop(62%, rgba(79,79,79,1)), color-stop(63%, rgba(16,18,19,1)), color-stop(68%, rgba(16,18,19,1)), color-stop(69%, rgba(79,79,79,1)), color-stop(70%, rgba(16,18,19,1)), color-stop(76%, rgba(16,18,19,1)), color-stop(77%, rgba(79,79,79,1)), color-stop(78%, rgba(16,18,19,1)), color-stop(84%, rgba(16,18,19,1)), color-stop(85%, rgba(79,79,79,1)), color-stop(86%, rgba(16,18,19,1)), color-stop(92%, rgba(16,18,19,1)), color-stop(93%, rgba(79,79,79,1)), color-stop(94%, rgba(16,18,19,1)), color-stop(100%, rgba(16,18,19,1)));
background: -webkit-linear-gradient(top, rgba(24,118,201,1) 0%, rgba(24,118,201,1) 49%, rgba(30,33,36,1) 51%, rgba(16,18,19,1) 61%, rgba(79,79,79,1) 62%, rgba(16,18,19,1) 63%, rgba(16,18,19,1) 68%, rgba(79,79,79,1) 69%, rgba(16,18,19,1) 70%, rgba(16,18,19,1) 76%, rgba(79,79,79,1) 77%, rgba(16,18,19,1) 78%, rgba(16,18,19,1) 84%, rgba(79,79,79,1) 85%, rgba(16,18,19,1) 86%, rgba(16,18,19,1) 92%, rgba(79,79,79,1) 93%, rgba(16,18,19,1) 94%, rgba(16,18,19,1) 100%);
background: -o-linear-gradient(top, rgba(24,118,201,1) 0%, rgba(24,118,201,1) 49%, rgba(30,33,36,1) 51%, rgba(16,18,19,1) 61%, rgba(79,79,79,1) 62%, rgba(16,18,19,1) 63%, rgba(16,18,19,1) 68%, rgba(79,79,79,1) 69%, rgba(16,18,19,1) 70%, rgba(16,18,19,1) 76%, rgba(79,79,79,1) 77%, rgba(16,18,19,1) 78%, rgba(16,18,19,1) 84%, rgba(79,79,79,1) 85%, rgba(16,18,19,1) 86%, rgba(16,18,19,1) 92%, rgba(79,79,79,1) 93%, rgba(16,18,19,1) 94%, rgba(16,18,19,1) 100%);
background: -ms-linear-gradient(top, rgba(24,118,201,1) 0%, rgba(24,118,201,1) 49%, rgba(30,33,36,1) 51%, rgba(16,18,19,1) 61%, rgba(79,79,79,1) 62%, rgba(16,18,19,1) 63%, rgba(16,18,19,1) 68%, rgba(79,79,79,1) 69%, rgba(16,18,19,1) 70%, rgba(16,18,19,1) 76%, rgba(79,79,79,1) 77%, rgba(16,18,19,1) 78%, rgba(16,18,19,1) 84%, rgba(79,79,79,1) 85%, rgba(16,18,19,1) 86%, rgba(16,18,19,1) 92%, rgba(79,79,79,1) 93%, rgba(16,18,19,1) 94%, rgba(16,18,19,1) 100%);
background: linear-gradient(to bottom, rgba(24,118,201,1) 0%, rgba(24,118,201,1) 49%, rgba(30,33,36,1) 51%, rgba(16,18,19,1) 61%, rgba(79,79,79,1) 62%, rgba(16,18,19,1) 63%, rgba(16,18,19,1) 68%, rgba(79,79,79,1) 69%, rgba(16,18,19,1) 70%, rgba(16,18,19,1) 76%, rgba(79,79,79,1) 77%, rgba(16,18,19,1) 78%, rgba(16,18,19,1) 84%, rgba(79,79,79,1) 85%, rgba(16,18,19,1) 86%, rgba(16,18,19,1) 92%, rgba(79,79,79,1) 93%, rgba(16,18,19,1) 94%, rgba(16,18,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1876c9', endColorstr='#101213', GradientType=0 );
}
