<div class = "container">
  <div class="jumbotron">
  <h1>Octorok Gaming</h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Octo-Gaming</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Meet Your Maker</a></li>
        <li><a href="#">Contribute</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Strategy</a></li>
            <li><a href="#">Classic</a></li>
            <li class="divider"></li>
            <li><a href="#">Requests</a></li>
            <li class="divider"></li>
            <li><a href="#">Suggestions</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? != true%>
          <li><a href="/users/new">Sign-Up</a></li>
          <li><a href="/users/sign_in">Login</a></li>
        <% else %>
          <li><a href="/sign_out">Sign-Out</a></li>
        <%end%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class = "Octo-games">
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/homepage/frogger_1.jpg" alt="frogger_1">
      <div class="caption">
        <h3 class = "center_text">Frogger_1</h3>
        <p class = "game_description">Manuever your way through the dangerous city and bring frogger home!</p>
        <p ><div class= "center_text"><a href="#" class="btn btn-default" role="button">Comment</a> <a href="/frogger_1" class="btn btn-primary" role="button">Play</a></div></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/homepage/frogger_2.jpg" alt="frogger_2" width=287 height=287>
      <div class="caption">
        <h3 class = "center_text">Frogger_2</h3>
        <p class = "game_description">Manuever your way through the dangerous city and bring frogger home!</p>
        <p><div class= "center_text"><a href="#" class="btn btn-default" role="button">Comment</a> <a href="/frogger_2" class="btn btn-primary" role="button">Play</a></div></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/homepage/battle.jpg" alt="battle_Z" width=333 height=333>
      <div class="caption">
        <h3 class = "center_text">Battle_Z</h3>
        <p class = "game_description">Challenge your friends and drop bombs on them.. for all the times they pissed you off.</p>
        <p><div class= "center_text"><a href="#" class="btn btn-default" role="button">Comment</a> <a href="/battles" class="btn btn-primary" role="button">Play</a></div></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/homepage/dodge_ian.jpg" alt="dodge_ian" width=300 height=300>
      <div class="caption">
        <h3 class = "center_text">Evader</h3>
        <p class = "game_description">dont git hit!</p>
        <p><div class= "center_text"><a href="#" class="btn btn-default" role="button">Comment</a> <a href="/dodge_ian" class="btn btn-primary" role="button">Play</a><div></p>
      </div>
    </div>
  </div>
  </div>

</div>




