<form id="sign-in" method="post" action="/users/sign_in">
  <label class="label" for="email">Email</label>
  <input type="email" name="email" placeholder="e.g., me@example.com"><br>
  <label class="label" for="password_hash">Password</label>
  <input type="password" name="password_hash" placeholder="6 or more characters"><br>
  <div class="submit"><input type="submit" value="Sign In"></div>
</form>
